<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="GEOINVEST" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GEOINVEST</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="./contacts.scss" />
  </head>
  <body>
    <load ="./partials/header.html" />
    <main class="main">
      <section id="price" class="price-section">
        <div class="container">
          <h2 class="section-title">ПОСЛУГИ ТА ВАРТІСТЬ</h2>
          <table>
            <thead>
              <tr>
                <th>Послуги</th>
                <th>Термін виконання</th>
                <th>Вартість</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="3">Технічна інвентаризація</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Оформлення права власності на нерухомість</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Узаконення</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Житлове-нежитлове</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Державна архітектурно-будівельна інспекція</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Державна архітектурно-будівельна інспекція</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Експертна оцінка нерухомого майна</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Технічне обстеження</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Архітектурне проектування</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <th colspan="3">Енергоаудит будівель</th>
              </tr>
              <tr>
                <td>Текст Текст Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <load ="partials/footer.html" />
  </body>
</html>
