//? Colors
$color-dark-blue: #14172C;
$color-white: #ffffff;
$color-black: #000000;
$color-light-yellow: #FFE092;
$color-yellow: rgba(225, 180, 63, 0.66);
$color-brown: #e1b33f;
$color-blue: #113168;
$color-light-blue: rgba(29, 74, 190, 0.10);
$color-mod-blue: #253C77;


//? Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

//? Transitions
$dur-primary: 300ms;
$dur-secondary: 150ms;
