<footer>
  <div class="footer-container container">
    <div class="footer-logo-container">
      <a href="./index.html" class="logo-footer link">ГЕОІНВЕНТПЛЮС</a>
      <span>© 2012-2023</span>
    </div>
    <div>
      <ul class="footer-address-list list">
        <li>
          <a href="tel:+380684030164" class="footer-address-list-item link"
            >+ 38 (068) 403 0164</a
          >
        </li>
        <li>
          <a href="tel:+380675445284" class="footer-address-list-item link"
            >+ 38 (067) 544 5284</a
          >
        </li>
        <li>
          <a
            href="mailto:geoinvent_plus@ukr.net"
            class="footer-address-list-item link"
            >geoinvent_plus@ukr.net</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
