<header>
  <div class="header-container container">
    <div class="header-main">
      <a href="./index.html" class="logo"
        ><svg class="logo-icon" width="80" height="80">
          <use href="./sprite.svg#icon-logo"></use></svg
        ><span>ГЕОІНВЕНТПЛЮС<span>ТЕХНІЧНА ІНВЕНТАРИЗАЦІЯ</span></span></a
      >
      <address class="contacts">
        <ul class="address-list list">
          <li>
            <a href="tel:+380684030164" class="address-list-item link"
              >+ 38 (068) 403 0164</a
            >
          </li>
          <li>
            <a href="tel:+380675445284" class="address-list-item link"
              >+ 38 (067) 544 5284</a
            >
          </li>
          <li>
            <a
              href="mailto:geoinvent_plus@ukr.net"
              class="address-list-item link"
              >geoinvent_plus@ukr.net</a
            >
          </li>
        </ul>
      </address>
    </div>
    <nav class="header-nav">
      <ul class="nav-list list">
        <li>
          <a href="#main-section" class="nav-list-item link">ГОЛОВНА</a>
        </li>
        <li>
          <a href="#about-us" class="nav-list-item link">ПРО НАС</a>
        </li>
        <li>
          <a href="./price/price-table.html" class="nav-list-item link"
            >ПОСЛУГИ ТА ВАРТІСТЬ</a
          >
        </li>
        <li><a href="#contacts" class="nav-list-item link">КОНТАКТИ</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- <header class="header">
  <div class="container header-container">
    <nav class="header-nav" data-aos="fade-right">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="./index.html" id="home-link" class="nav-list-item link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="./favorites.html"
            id="favorites-link"
            class="nav-list-item link"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <a href="./index.html" class="logo link" data-aos="fade-down"
      ><span>tasty</span>treats</a
    >
    <div class="header-buttons" data-aos="fade-left">
      <button
        type="button"
        class="header-order-btn btn"
        aria-expanded="false"
        aria-label="order now"
      >
        <svg width="24px" height="24px">
          <use href="/sprite.svg#icon-cart"></use>
        </svg>
      </button>
      <button
        type="button"
        class="header-menu-btn btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="open mobile menu"
      >
        <svg width="32px" height="32px">
          <use href="/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <label id="theme-switcher" class="checkbox-theme">
        <input type="checkbox" />
        <span></span>
      </label>
    </div>
    <load ="./mobile-menu.html" />
  </div>
</header> -->
