<section id="main-section" class="main-section">
  <div class="servises-container container">
    <ul class="servises-list">
      <li class="servises-list-item">Технічна інвентаризація БТІ</li>
      <li class="servises-list-item">
        Оформлення права власності на нерухомість
      </li>
      <li class="servises-list-item">Узаконення</li>
      <li class="servises-list-item">Житлове-нежитлове</li>
      <li class="servises-list-item">
        Державна архітектурно-будівельна інспекція
      </li>
      <li class="servises-list-item">Експертна оцінка нерухомого майна</li>
      <li class="servises-list-item">Технічне обстеження</li>
      <li class="servises-list-item">Архітектурне проектування</li>
      <li class="servises-list-item">Енергоаудит будівель</li>
    </ul>
    <button type="button" class="order-service">ЗАМОВИТИ ПОСЛУГУ</button>
  </div>
</section>
<section id="about-us" class="about-us-section">
  <div class="container">
    <h2 class="section-title">ПРО НАС</h2>
    <p class="about-us-desc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum repellat
      nisi ducimus molestias facilis cum voluptatibus dolorem temporibus quidem
      iure, reprehenderit possimus recusandae omnis eaque at vitae quo itaque
      laborum voluptatem reiciendis, necessitatibus excepturi qui. Excepturi
      facilis modi inventore cum ex atque veritatis architecto tempore.
    </p>
    <h2 class="section-title">СЕРТИФІКАТИ</h2>
    <ul class="certificates-list list">
      <li class="certificates-list-item">
        <img
          src="./images/certificat1.jpg"
          alt="Сертифікат"
          width="305"
          class="certificat"
        />
      </li>
      <li class="certificates-list-item">
        <img
          src="./images/certificat2.jpg"
          alt="Сертифікат"
          width="305"
          class="certificat"
        />
      </li>
      <li class="certificates-list-item">
        <img
          src="./images/certificat3.jpg"
          alt="Сертифікат"
          width="305"
          class="certificat"
        />
      </li>
      <li class="certificates-list-item">
        <img
          src="./images/certificat4.jpg"
          alt="Сертифікат"
          width="305"
          class="certificat"
        />
      </li>
    </ul>
  </div>
</section>
